.loan2background, .searchbackground{
    background-color: burlywood;
}
.loanbox{
    background: white;
    color: black;
    left: 0;
    padding: 20px;
    box-shadow: 0 8px 50px -2px #000;
    border-radius:5px;
    margin-top: 15%;
    margin-left: 25%;
}
.logo{
    width: 130px;
    height: 55px;
    margin-left: 10%;
}
@media (max-width:767px) {
    .loanbox{
        margin-top: 10%;
    }
}

.loanbox_content{
    padding:5% 11% 5% 11%;
}

.submit-btn{
    float: right;
    margin-right: -211%;
}
@media (max-width:800px) {
    .submit-btn{
        margin-right: 23%;
    }
}